@charset "utf-8";
/* CSS Document */

.container{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-weight: bold;
color: darkgreen; 
	font-size: 20px;
	
}